<template>
  <div class="brand">
    <img :src="require(`~/assets/brands/${logo}.svg`)" :alt="name" />
    <h2>{{ name }}</h2>
  </div>
</template>

<script>

export default {
  props: {
    logo: String,
    name: String
  }
}

</script>

<style scoped>
  .brand {
    width: 150px;
    display: inline-block;
    margin: 10px;
  }

  .brand img {
    width: 50%;
  }
</style>
