<template>
  <Nuxt />
</template>

<script>
import Header from '~/components/Header'

export default {
  Components: {
    Header
  }
}
</script>

<style>
  html {
    background: #fafafa;
    font-family: 'Crimson Text', serif;
    color: #555;
  }

  html, body, #holder, #__nuxt, #__layout, .page {
    height: 100%;
  }

  .content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
  }

  p {
    margin: 10px 0;
    font-size: 18px;
  }

  #bg {
    background: white;
    border-top: 1px solid #bbb;
    margin-top: 10px;
    padding-top: 30px;
  }
</style>
