<template>
  <main id="holder">
    <Header />
    <section class="content items">
      <article v-for="page in pages" :key="page.slug">
        <img :src="require(`~/assets/icons/${page.icon}`)" :alt="page.title" />
        <h1>{{ page.title }}</h1>
        <nuxt-content :document="page" />
      </article>
    </section>
    <section>
      <div class="content">
        <h1>Excited to learn more?</h1>
        <p>Say hello at:</p>
        <p>
          <a href="mailto:hello@redcoat.dev">hello@redcoat.dev</a>
        </p>
      </div>
    </section>
    <section>
      <div class="content">
        <h1>Tech We Love</h1>
        <p>
          This is by no means an exhaustive list - that would take up
          far too much space!
        </p>
        <Icon name="Docker" logo="docker" />
        <Icon name="Kubernetes" logo="k8s" />
        <Icon name="Helm" logo="helm" />
        <Icon name="Cert Manager" logo="cert-manager" />
        <Icon name="Build Packs" logo="buildpacks" />
        <Icon name="Linode" logo="linode" />
        <Icon name="AWS" logo="aws" />
        <Icon name="Terraform" logo="terraform" />
        <Icon name="GitLab" logo="gitlab" />
        <Icon name="VueJS" logo="vuejs" />
        <Icon name="NuxtJS" logo="nuxt" />
        <Icon name="ReactJS" logo="react" />
      </div>
    </section>
    <section>
      <div class="content items">
        <article v-for="study in studies" :key="study.slug" style="max-width: 600px; margin: 0;">
          <h1>Case Study: {{ study.title }}</h1>
          <nuxt-content :document="study" />
        </article>
      </div>
    </section>
    <section class="clients">
      <div class="content">
        <h1>Previous Happy Clients</h1>
        <img src="~/assets/clients/twogether.svg" alt="twogether" />
        <img src="~/assets/clients/unrival.png" alt="unrival" />
        <img src="~/assets/clients/huggg.png" alt="huggg" />
        <img src="~/assets/clients/symec.webp" alt="SYMEC." style="height: 35px; bottom: 5px;" />
        <img src="~/assets/clients/partner-marketing.png" alt="partnermarketing.com" style="height: unset" />
        <img src="~/assets/clients/candide.svg" alt="Candide" />
        <img src="~/assets/clients/zebra.png" alt="Zebra" />
        <img src="~/assets/clients/spastaff.png" alt="SpaStaff.com" style="top: 18px;" />
        <img src="~/assets/clients/stsg.png" alt="School Theatre Support Group" style="top: 10px;" />
        <img src="~/assets/clients/theleys.png" alt="THE LEYS" style="top: 20px;" />
      </div>
    </section>
    <footer>
      <h1>Want to Know More?</h1>
      <p>
        Say hello at:
        <br />
        <a href="mailto:hello@redcoat.dev">hello@redcoat.dev</a>
      </p>
      <p>
        <small>
          Red Coat Development Limited is registered company number
          13235634 in England &amp; Wales. VAT registration number:
          375149477.
          <br />
          Registered Address: 10 Flour House, French Yard, Bristol,
          BS1 6UE
        </small>
      </p>
    </footer>
  </main>
</template>

<script>
import Header from '~/components/Header'
import Icon from '~/components/Icon'

export default {
  Components: {
    Header,
    Icon
  },

  async asyncData({ $content }) {
    const pages = await $content('help').fetch()
    const studies = await $content('case-studies').fetch()

    return {
      pages,
      studies
    }
  }
}
</script>

<style scoped>
  section:not(:first-child) .content {
    border-top: 2px solid #e7354b;
  }

  .items {
    display: flex;
    align-items: flex-stretch;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content {
    text-align: center;
    padding: 30px 0;
  }

  .items img {
    display: block;
    width: 100px;
    margin: 20px auto;
  }

  .items article {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 400px;
    margin: 0 30px;
  }

  .content h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .content a, .content a:visited {
    text-decoration: none;
    color: #e7354b;
    font-weight: bold;
    font-size: 18px;
  }

  .clients img {
    height: 50px;
    margin: 30px;
    position: relative;
  }

  footer {
    background: #e7354b;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
  }

  footer a, footer a:visited {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  }
</style>
